server:
  port: 30200

spring:
  application:
    name: generator-visit-result

  cloud:
    stream:
      bindings:

        visits-before-appointment:
          destination: visits

        visits-after-appointment:
          destination: visits-processed

        visits-dispatcher-input:
          destination: visits-processed

        visits-dispatcher-output:
          destination: visits-for-statistics-ks
          producer.header-mode: raw
